[submodule "liback-sys"]
	path = benchmarks/liback-sys
	url = git@github.com:schoppmp/liback-sys.git
[submodule "lib/mpc-utils"]
	path = lib/mpc-utils
	url = git@github.com:schoppmp/mpc-utils.git
[submodule "lib/fastpoly"]
	path = lib/fastpoly
	url = https://github.com/schoppmp/FastPolynomial/
