[submodule "liback-sys"]
	path = benchmarks/liback-sys
	url = git@github.com:schoppmp/liback-sys.git
[submodule "lib/mpc-utils"]
	path = lib/mpc-utils
	url = git@github.com:schoppmp/mpc-utils.git
[submodule "lib/fastpoly"]
	path = lib/fastpoly
	url = git@github.com:schoppmp/FastPolynomial.git
[submodule "lib/obliv-c"]
	path = lib/obliv-c
	url = git@github.com:samee/obliv-c.git
[submodule "lib/absentminded-crypto-kit"]
	path = lib/absentminded-crypto-kit
	url = https://bitbucket.org/schoppmp/absentminded-crypto-kit
