[submodule "lib/mpc-utils"]
	path = lib/mpc-utils
	url = https://github.com/schoppmp/mpc-utils
[submodule "lib/fastpoly"]
	path = lib/fastpoly
	url = https://github.com/schoppmp/FastPolynomial
[submodule "lib/obliv-c"]
	path = lib/obliv-c
	url = https://github.com/schoppmp/obliv-c
[submodule "lib/absentminded-crypto-kit"]
	path = lib/absentminded-crypto-kit
	url = https://bitbucket.org/schoppmp/absentminded-crypto-kit
